<template>
	<div>
	<router-view></router-view>
		<form class="form-horizontal" @submit.prevent="alterar">
	<fieldset>
	<legend>Editar Treinamento Realizado </legend>
		<div class="form-group">
                <label>Data do treinamento:</label>
		<input type="date" class="form-control" v-model="data">
		</div>
		<div class="form-group">
                <label>Nome do instrutor do treinamento:</label>
		<input type="text" class="form-control" placeholder="Estado da regional" v-model="instrutor">
		</div>
		<input type="submit" class="btn btn-default">
		</fieldset>
	</form>
		<p>valores atuais:</p>
		<p>funcionario: {{funcionarioAtual}} treinamento: {{treinamentoAtual}} data: {{dataAtual}} instrutor: {{instrutorAtual}}</p>
		<router-link to="/treinamentosrealizados">x</router-link>
	</div>
</template>
<script>
  export default {
    name: 'editartreinamentosrealizados',
    data () {
      return {
        data: '',
        instrutor: '',
        dataCopia: '',
        instrutorCopia: ''
      }
    },
    computed: {
      funcionarioAtual () {
        return this.$store.state.treinamentosRealizados[this.$route.query.index].idFuncionario.nome
      },
      treinamentoAtual () {
        return this.$store.state.treinamentosRealizados[this.$route.query.index].idTreinamento.nome
      },
      dataAtual () {
        return this.$store.state.treinamentosRealizados[this.$route.query.index].data
      },
      instrutorAtual () {
        return this.$store.state.treinamentosRealizados[this.$route.query.index].instrutor
      }
    },
    watch: {
      id () {
        this.data = ''
        this.instrutor = ''
      }
    },
    mounted () {
      this.data = ''
      this.instrutor = ''
    },
    methods: {
      alterar () {
        this.dataCopia = this.data
        this.instrutorCopia = this.instrutor
        this.$http.put('http://endicon.esy.es/dados/treinamentosrealizados/' + this.$store.state.treinamentosRealizados[this.$route.query.index].idFuncionario.id + '/' + this.$store.state.treinamentosRealizados[this.$route.query.index].idTreinamento.id, {
          'Data': this.data,
          'Instrutor': this.instrutor
        }).then((response) => {
          console.log('sucess ' + response)
          this.$store.commit('ATUALIZAR_TREINAMENTOREALIZADO', {
            'index': this.$route.query.index,
            'data': this.dataCopia,
            'instrutor': this.instrutorCopia
          })
          this.data = ''
          this.instrutor = ''
        }, (response) => {
          console.log('erro: ', response)
        })
      }
    }
  }
</script>
<style></style>