<template>
<section class="container">
<div class="alert alert-danger" v-if="erro">{{mensagemErro}} <div @click="desaparecer">X</div></div>
<router-view></router-view>
<router-link to="/gestao/treinamentosrealizados/novotreinamentorealizado">Novo treinamento realizado</router-link>
<button @click="getTreinamentosRealizados">Atualizar</button>
<table class="table table-striped table-bordered table-condensed table-hover">
<tr>
	<th v-for="coluna in colunas">{{coluna|capitalize}}</th>
</tr>
<tr v-for="(treinamentoRealizado,index) in treinamentosRealizados">
	<td>{{treinamentoRealizado.idFuncionario.nome|capitalize}}</td>
	<td>{{treinamentoRealizado.idTreinamento.nome|capitalize}}</td>
	<td>{{treinamentoRealizado.data|capitalize}}</td>
	<td>{{treinamentoRealizado.instrutor|capitalize}}</td>
	<td>
		<router-link :to="{path:'/treinamentosrealizados/vertreinamentorealizado', query:{index:index}}">Ver</router-link>
		<router-link :to="{path:'/treinamentosrealizados/editartreinamentorealizado', query:{index:index}}">Alterar</router-link>
		<router-link to="/treinamentosrealizados"><button class="btn btn-info" @click="deletar(treinamentoRealizado.idFuncionario.id, treinamentoRealizado.idTreinamento.id)">Remover</button></router-link>
	</td>
</tr>
</table>
</section>
</template>
<script>
  export default {
    name: 'listatreinamentosrealizados',
    data () {
      return {
        colunas: ['Funcionario', 'Treinamento', 'Data', 'Instrutor', 'ações'],
        erro: false,
        mensagemErro: ''
      }
    },
    computed: {
      treinamentosRealizados () {
        return this.$store.state.treinamentosRealizados
      }
    },
    mounted () {
      this.getTreinamentosRealizados()
    },
    methods: {
      deletar (funcionario, treinamento) {
        this.$http.delete('http://endicon.esy.es/dados/treinamentosrealizados/' + funcionario + '/' + treinamento).then((response) => {
          console.log('sucess ' + response)
          this.getTreinamentosRealizados()
        }, (response) => {
          console.log('erro: ', response)
          this.erro = true
          this.mensagemErro = 'Erro: O treinamento realizado selecionado está sendo utilizado por um ou mais dados, exclua-os primeiro'
        })
      },
      getTreinamentosRealizados () {
        this.$http.get('http://endicon.esy.es/dados/treinamentosrealizados').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_TREINAMENTOSREALIZADOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      desaparecer () {
        this.erro = false
      }
    }
  }
</script>
<style></style>