<template>
<section class="container">
	<form class="form-horizontal" @submit.prevent="enviar">
	<fieldset>
	<legend>Novo Treinamento Realizado </legend>
	<div class="form-group">
        <label>Treinamento realizado:</label>
  <select class="form-control" v-model="treinamentoSelecionado">
    <option v-for="treinamento in treinamentos" :value="treinamento">{{treinamento.nome}}</option>
  </select>
</div>
<a @click="getTreinamentos">atualizar treinamentos</a>
<div class="form-group">
<label>Funcionario que realizou o treinamento:</label>
  <select class="form-control" v-model="funcionarioSelecionado">
    <option v-for="funcionario in funcionarios" :value="funcionario">{{funcionario.nome}}, {{funcionario.matricula}}</option>
  </select>
</div>
		<div class="form-group">
                <label>Data do treinamento:</label>
		<input type="date" class="form-control" v-model="data">
		</div>
		<div class="form-group">
                <label>Nome do instrutor do treinamento:</label>
		<input type="text" class="form-control" placeholder="Estado da regional" v-model="instrutor">
		</div>
		<input type="submit" class="btn btn-default">
		</fieldset>
	</form>
		<router-link to="/treinamentosrealizados">Fechar</router-link>

</section>
</template>
<script>
  export default {
    nome: 'novotreinamentorealizado',
    data () {
      return {
        funcionario: '',
        funcionarioSelecionado: '',
        treinamentoSelecionado: '',
        treinamento: '',
        data: '',
        dataCopia: '',
        instrutorCopia: '',
        instrutor: ''
      }
    },
    computed: {
      treinamentos () {
        return this.$store.state.treinamentos
      },
      funcionarios () {
        return this.$store.state.funcionarios
      }
    },
    mounted () {
      this.getTreinamentos()
      this.getFuncionarios()
    },
    methods: {
      enviar () {
        this.dataCopia = this.data
        this.instrutorCopia = this.instrutor
        this.funcionario = this.funcionarioSelecionado
        this.treinamento = this.treinamentoSelecionado
        this.$http.post('http://endicon.esy.es/dados/treinamentosrealizados/' + this.funcionarioSelecionado.id + '/' + this.treinamentoSelecionado.id, {
          'Data': this.data,
          'Instrutor': this.instrutor
        }).then((response) => {
          console.log('sucess ', response.body)
          this.$store.commit('ADD_TREINAMENTOREALIZADO', {
            'idFuncionario': this.funcionario,
            'idTreinamento': this.treinamento,
            'data': this.dataCopia,
            'instrutor': this.instrutorCopia
          })
          this.data = ''
          this.instrutor = ''
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      getTreinamentos () {
        this.$http.get('http://endicon.esy.es/dados/treinamentos').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_TREINAMENTOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      getFuncionarios () {
        this.$http.get('http://endicon.esy.es/dados/funcionarios').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_FUNCIONARIOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      }
    }
  }
</script>
<style></style>