<template>
	<div>
		<form class="form form-horizontal" @submit.prevent="alterar">
			<fieldset>
	<legend>Novo Funcionario </legend>
	<div class="form-group">
<label>Função:</label>
  <select class="form-control" v-model="funcaoSelecionada">
    <option v-for="funcao in funcoes" :value="funcao">{{funcao.nome}}</option>
  </select>
</div>
<a @click="getFuncoes">atualizar funcoes</a>
<div class="form-group">
<label>Localidade de polo:</label>
  <select class="form-control" v-model="localidadePoloSelecionada">
    <option v-for="localidadePolo in localidadesPolo" :value="localidadePolo">{{localidadePolo.nome}}</option>
  </select>
</div>
<a @click="getLocalidadesPolo">atualizar localidadespolo</a>
		<div class="form-group">
                <label>Nome:</label>
		<input type="text" class="form-control" v-model="nome">
		</div>
		<div class="form-group">
                <label>Matrícula:</label>
		<input type="number" class="form-control" v-model="matricula">
		</div>
		<div class="form-group">
                <label>Data de nascimento:</label>
		<input type="date" class="form-control" placeholder="" v-model="dataNascimento">
		</div>
		<div class="form-group">
                <label>Sexo:</label>
		<input type="text" class="form-control" placeholder="" v-model="sexo">
		</div>
		<div class="form-group">
                <label>Estado Cívil:</label>
		<input type="text" class="form-control" placeholder="" v-model="estadoCivil">
		</div>
		<div class="form-group">
                <label>Inicio Função:</label>
		<input type="date" class="form-control" placeholder="" v-model="inicioFuncao">
		</div>
		<div class="form-group">
                <label>Grau de instrução:</label>
		<input type="text" class="form-control" placeholder="" v-model="grauInstrucao">
		</div>
		<div class="form-group">
                <label>Estado de instrução:</label>
		<input type="text" class="form-control" placeholder="" v-model="estadoInstrucao">
		</div>
		<div class="form-group">
                <label>Inicio Refeição:</label>
		<input type="time" class="form-control" placeholder="" v-model="inicioRefeicao">
		</div>
		<div class="form-group">
                <label>Fim Refeição:</label>
		<input type="time" class="form-control" placeholder="" v-model="fimRefeicao">
		</div>
		<div class="form-group">
                <label>Turno Trabalho:</label>
		<input type="text" class="form-control" placeholder="" v-model="turnoTrabalho">
		</div>
		<div class="form-group">
                <label>Nacionalidade:</label>
		<input type="text" class="form-control" placeholder="" v-model="nacionalidade">
		</div>
		<div class="form-group">
                <label>Endereço:</label>
		<input type="text" class="form-control" placeholder="" v-model="endereco">
		</div>
		<div class="form-group">
                <label>CEP:</label>
		<input type="number" class="form-control" placeholder="" v-model="cep">
		</div>
		<div class="form-group">
                <label>Posição Geográfica:</label>
		<input type="text" class="form-control" placeholder="" v-model="posicaoGeografica">
		</div>
		<div class="form-group">
                <label>Estado:</label>
		<input type="text" class="form-control" placeholder="" v-model="estado">
		</div>
		<div class="form-group">
                <label>Cidade:</label>
		<input type="text" class="form-control" placeholder="" v-model="cidade">
		</div>
		<input type="submit" class="btn btn-default">
		</fieldset>
		</form>
		<p>valores atuais:</p>
		<p>teste: {{funcionario}}</p>
		<router-link to="/funcionarios">x</router-link>
	</div>
</template>
<script>
  export default {
    name: 'editarfuncionario',
    data () {
      return {
        nome: '',
        matricula: '',
        dataNascimento: '',
        sexo: '',
        estadoCivil: '',
        inicioFuncao: '',
        grauInstrucao: '',
        estadoInstrucao: '',
        inicioRefeicao: '',
        fimRefeicao: '',
        turnoTrabalho: '',
        nacionalidade: '',
        endereco: '',
        cep: '',
        posicaoGeografica: '',
        estado: '',
        cidade: '',
        funcaoSelecionada: '',
        localidadePoloSelecionada: '',
        nomeCopia: '',
        matriculaCopia: '',
        dataNascimentoCopia: '',
        sexoCopia: '',
        estadoCivilCopia: '',
        inicioFuncaoCopia: '',
        grauInstrucaoCopia: '',
        estadoInstrucaoCopia: '',
        inicioRefeicaoCopia: '',
        fimRefeicaoCopia: '',
        turnoTrabalhoCopia: '',
        nacionalidadeCopia: '',
        enderecoCopia: '',
        cepCopia: '',
        posicaoGeograficaCopia: '',
        estadoCopia: '',
        cidadeCopia: '',
        funcaoSelecionadaCopia: '',
        localidadePoloSelecionadaCopia: ''
      }
    },
    computed: {
      funcionario () {
        return this.$store.state.funcionarios[this.$route.query.index]
      },
      funcoes () {
        return this.$store.state.funcoes
      },
      localidadesPolo () {
        return this.$store.state.localidadespolo
      }
    },
    mounted () {
      this.getFuncoes()
      this.getLocalidadesPolo()
    },
    methods: {
      alterar () {
        this.nomeCopia = this.nome
        this.matriculaCopia = this.matricula
        this.dataNascimentoCopia = this.dataNascimento
        this.sexoCopia = this.sexo
        this.estadoCivilCopia = this.estadoCivil
        this.inicioFuncaoCopia = this.inicioFuncao
        this.grauInstrucaoCopia = this.grauInstrucao
        this.estadoInstrucaoCopia = this.estadoInstrucao
        this.inicioRefeicaoCopia = this.inicioRefeicao
        this.fimRefeicaoCopia = this.fimRefeicao
        this.turnoTrabalhoCopia = this.turnoTrabalho
        this.nacionalidadeCopia = this.nacionalidade
        this.enderecoCopia = this.endereco
        this.cepCopia = this.cep
        this.posicaoGeograficaCopia = this.posicaoGeografica
        this.estadoCopia = this.estado
        this.cidadeCopia = this.cidade
        this.funcaoCopia = this.funcaoSelecionada
        this.localidadePoloCopia = this.localidadePoloSelecionada
        console.log('entrou')
        this.$http.put('http://endicon.esy.es/dados/locais/' + this.funcionario.local.id, {
          'Endereco': this.endereco,
          'CEP': this.cep,
          'PosicaoGeografica': this.posicaoGeografica,
          'Estado': this.estado,
          'Cidade': this.cidade
        }).then((response) => {
          console.log('entrou2')
          console.log('sucess ', response.body)
          this.$http.put('http://endicon.esy.es:8000/dados/funcionarios/' + this.funcionario.idFuncionario, {
            'Nome': this.nome,
            'Matricula': this.matricula,
            'DataNascimento': this.dataNascimento,
            'Sexo': this.sexo,
            'EstadoCivil': this.estadoCivil,
            'InicioFuncao': this.inicioFuncao,
            'GrauInstrucao': this.grauInstrucao,
            'EstadoInstrucao': this.estadoInstrucao,
            'InicioRefeicao': this.inicioRefeicao,
            'FinalRefeicao': this.fimRefeicao,
            'TurnoTrabalho': this.turnoTrabalho,
            'Nacionalidade': this.nacionalidade,
            'TB_Local_idTB_Local': this.funcionario.local.id,
            'TB_Funcao_idTB_Funcao': this.funcaoSelecionada.id,
            'TB_LocalidadePolo_idTB_LocalidadePolo': this.localidadePoloSelecionada.id
          }).then((response) => {
            console.log('entrou3')
            console.log('sucess ', response.body)
            this.$store.commit('ATUALIZAR_FUNCIONARIO', {
              'index': this.funcionario.id,
              'nome': this.nomeCopia,
              'matricula': this.matriculaCopia,
              'dataNascimento': this.dataNascimentoCopia,
              'sexo': this.sexoCopia,
              'estadoCivil': this.estadoCivilCopia,
              'inicioFuncao': this.inicioFuncaoCopia,
              'grauInstrucao': this.grauInstrucaoCopia,
              'estadoInstrucao': this.estadoInstrucaoCopia,
              'inicioRefeicao': this.inicioRefeicaoCopia,
              'fimRefeicao': this.fimRefeicaoCopia,
              'turnoTrabalho': this.turnoTrabalho,
              'nacionalidade': this.nacionalidade,
              'local': {
                'id': this.funcionario.local.id,
                'endereco': this.enderecoCopia,
                'cep': this.cepCopia,
                'posicaoGeografica': this.posicaoGeograficaCopia,
                'estado': this.estadoCopia,
                'cidade': this.cidadeCopia
              },
              'funcao': this.funcaoCopia,
              'localidadePolo': this.localidadePoloCopia
            })
            this.nome = ''
            this.matricula = ''
            this.dataNascimento = ''
            this.sexo = ''
            this.estadoCivil = ''
            this.inicioFuncao = ''
            this.grauInstrucao = ''
            this.estadoInstrucao = ''
            this.inicioRefeicao = ''
            this.fimRefeicao = ''
            this.turnoTrabalho = ''
            this.nacionalidade = ''
            this.endereco = ''
            this.cep = ''
            this.posicaoGeografica = ''
            this.estado = ''
            this.cidade = ''
            this.funcaoSelecionada = ''
            this.localidadePoloSelecionada = ''
          }, (response) => {
            console.log('erro: ', response)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      getFuncoes () {
        this.$http.get('http://endicon.esy.es/dados/funcoes').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_FUNCOES', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      getLocalidadesPolo () {
        this.$http.get('http://endicon.esy.es/dados/localidadespolo').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_LOCALIDADESPOLO', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      }
    }
  }
</script>
<style></style>