<template>
<div>
	<p>id: {{analiserisco.id}}</p>
	<p>dataCriacao: {{analiserisco.dataCriacao}}</p>
	<p>horacriacao: {{analiserisco.horaCriacao}}</p>
	<p>descricao: {{analiserisco.descricaoAtividade}}</p>
	<p>observacao: {{analiserisco.observacao}}</p>
	<p>local: {{analiserisco.local.endereco}}</p>
	<p>local: {{analiserisco.local.cep}}</p>
	<p>local: {{analiserisco.local.posicaoGeografica}}</p>
	<p>local: {{analiserisco.local.estado}}</p>
	<p>local: {{analiserisco.local.cidade}}</p>
	<p>funcionario: {{analiserisco.funcionario.nome}}</p>
	<p>tipoProcesso: {{analiserisco.tipoProcesso.nome}}</p>
	<div v-for="perguntas in analiserisco.perguntasRespondidas">
		<p>Pergunta: {{perguntas.idPergunta.pergunta}}</p>
		<p>Resposta: {{perguntas.resposta}}</p>
	</div >
	<div v-for="equipamentosIndividuais in analiserisco.equipamentosIndividuais">
		<p>Equipamento Individual: {{equipamentosIndividuais.nome}}</p>
	</div >
	<div v-for="equipamentosColetivos in analiserisco.equipamentosColetivos">
		<p>Equipamento Coletivo: {{equipamentosColetivos.nome}}</p>
	</div >
	<div v-for="riscosIdentificados in analiserisco.riscosIdentificados">
		<p>risco identificado: {{riscosIdentificados.nome}}</p>
	</div >
	<div v-for="membros in analiserisco.membros">
		<p>nome do membro: {{membros.nome}}</p>
	</div >

	<router-link to="/analisesrisco">x</router-link>
</div>
</template>
<script>
  export default {
    name: 'analisesrisco',
    data () {
      return {
      }
    },
    computed: {
      analiserisco () {
        return this.$store.state.analisesrisco[this.$route.query.index]
      }
    }
  }
</script>
<style>

</style>