<template>
<section class="container">
<div class="alert alert-danger" v-if="erro">{{mensagemErro}} <div @click="desaparecer">X</div></div>
<router-view></router-view>
<router-link to="/analisesrisco/novanaliserisco">Nova analise risco</router-link>
<button @click="getAnalisesRisco">Atualizar</button>
<table class="table table-striped table-bordered table-condensed table-hover">
<tr>
	<th v-for="coluna in colunas">{{coluna|capitalize}}</th>
</tr>
<tr v-for="(analiserisco,index) in analisesrisco">
	<td>{{analiserisco.id|capitalize}}</td>
	<td>{{analiserisco.dataCriacao|capitalize}}</td>
	<td>{{analiserisco.horaCriacao|capitalize}}</td>
	<td>{{analiserisco.funcionario.nome|capitalize}}</td>
	<td>{{analiserisco.tipoProcesso.nome|capitalize}}</td>
	<td>
		<router-link :to="{path:'/analisesrisco/veranaliserisco', query:{index:index}}">Ver</router-link>
		<router-link :to="{path:'/analisesrisco/editaranaliserisco', query:{index:index}}">Alterar</router-link>
		<router-link to="/analisesrisco"><button class="btn btn-info" @click="deletar(analiserisco)">Remover</button></router-link>
	</td>
</tr>
</table>
</section>
</template>
<script>
  export default {
    name: 'listanalisesrisco',
    data () {
      return {
        colunas: ['id', 'data de criação', 'hora de criação', 'funcionario', 'tipo processo', 'ações'],
        erro: false,
        mensagemErro: ''
      }
    },
    computed: {
      analisesrisco () {
        return this.$store.state.analisesrisco
      }
    },
    mounted () {
      this.getAnalisesRisco()
    },
    methods: {
      deletar (analiserisco) {
        this.$http.delete('http://endicon.esy.es/dados/equipamentoscoletivosanaliserisco/' + analiserisco.id).then((response) => {
          console.log('sucess ' + response)
        }, (response) => {
          console.log('erro: ', response)
          this.erro = true
          this.mensagemErro = 'Erro: a analise risco selecionada está sendo utilizado por um ou mais dados, exclua-os primeiro'
        })
        this.$http.delete('http://endicon.esy.es/dados/equipamentosindividuaisanaliserisco/' + analiserisco.id).then((response) => {
          console.log('sucess ' + response)
        }, (response) => {
          console.log('erro: ', response)
          this.erro = true
          this.mensagemErro = 'Erro: a analise risco selecionada está sendo utilizado por um ou mais dados, exclua-os primeiro'
        })
        this.$http.delete('http://endicon.esy.es/dados/membrosanaliserisco/' + analiserisco.id).then((response) => {
          console.log('sucess ' + response)
        }, (response) => {
          console.log('erro: ', response)
          this.erro = true
          this.mensagemErro = 'Erro: a analise risco selecionada está sendo utilizado por um ou mais dados, exclua-os primeiro'
        })
        this.$http.delete('http://endicon.esy.es/dados/riscosidentificadosanaliserisco/' + analiserisco.id).then((response) => {
          console.log('sucess ' + response)
        }, (response) => {
          console.log('erro: ', response)
          this.erro = true
          this.mensagemErro = 'Erro: a analise risco selecionada está sendo utilizado por um ou mais dados, exclua-os primeiro'
        })
        this.$http.delete('http://endicon.esy.es/formularios/analisesrisco/' + analiserisco.id).then((response) => {
          console.log('sucess ' + response)
          this.getAnalisesRisco()
          this.$http.delete('http://endicon.esy.es/dados/locais/' + analiserisco.local.id).then((response) => {
            console.log('sucess', response)
          }, (response) => {
            console.log('erro: ', response)
          })
        }, (response) => {
          console.log('erro: ', response)
          this.erro = true
          this.mensagemErro = 'Erro: a analise risco selecionada está sendo utilizado por um ou mais dados, exclua-os primeiro'
        })
      },
      getAnalisesRisco () {
        this.$http.get('http://endicon.esy.es/formularios/analisesrisco').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_ANALISESRISCO', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      desaparecer () {
        this.erro = false
      }
    }
  }
</script>
<style></style>