<template>
<section class="container">
	<form class="form-horizontal" @submit.prevent="enviar">

<div class="form-group">
  <label>Preenchido por:</label>
  <select class="form-control" v-model="funcionarioSelecionado">
    <option v-for="funcionario in funcionarios" :value="funcionario">{{funcionario.nome}}</option>
  </select>
</div>
<div class="form-group">
  <label>Processo:</label>
  <select class="form-control" v-model="tipoProcessoSelecionado">
    <option v-for="tipoProcesso in tiposProcesso" :value="tipoProcesso">{{tipoProcesso.nome}}</option>
  </select>
</div>
		 	<div class="form-group">
                        <label>Data Criação:</label>
		<input type="date" class="form-control" placeholder="Nome da funcao" v-model="dataCriacao">
		</div>
		<div class="form-group">
                <label>Hora Criação:</label>
		<input type="time" class="form-control" placeholder="Nome da funcao" v-model="horaCriacao">
		</div>
		<div class="form-group">
                <label>Descrição da atividade:</label>
		<input type="text" class="form-control" placeholder="Nome da funcao" v-model="descricaoAtividade">
		</div>
		<div class="form-group">
                <label>Observação:</label>
		<input type="text" class="form-control" placeholder="Nome da funcao" v-model="observacao">
		</div>
		<div class="form-group">
                <label>Endereço:</label>
		<input type="text" class="form-control" placeholder="Estado da regional" v-model="endereco">
		</div>
		<div class="form-group">
                <label>CEP:</label>
		<input type="number" class="form-control" placeholder="Estado da regional" v-model="cep">
		</div>
		<div class="form-group">
                <label>Posição Geográfica:</label>
		<input type="text" class="form-control" placeholder="Estado da regional" v-model="posicaoGeografica">
		</div>
		<div class="form-group">
                <label>Estado:</label>
		<input type="text" class="form-control" placeholder="Estado da regional" v-model="estado">
		</div>
		<div class="form-group">
                <label>Cidade:</label>
		<input type="text" class="form-control" placeholder="Estado da regional" v-model="cidade">
		</div>
		<input type="submit">

	</form>
	<router-link :to="{path:'/analisesrisco/addequipamentoscoletivos', query:{index:analiserisco}}">Add Equipamentos</router-link>
	<router-link to="/analisesrisco">Fechar</router-link>
</section>
</template>
<script>
  export default {
    name: 'novafuncao',
    data () {
      return {
        dataCriacao: '',
        dataCriacaoCopia: '',
        horaCriacao: '',
        horaCriacaoCopia: '',
        descricaoAtividade: '',
        descricaoAtividadeCopia: '',
        observacao: '',
        observacaoCopia: '',
        endereco: '',
        enderecoCopia: '',
        cep: '',
        cepCopia: '',
        posicaoGeografica: '',
        posicaoGeograficaCopia: '',
        estado: '',
        estadoCopia: '',
        cidade: '',
        cidadeCopia: '',
        funcionarioSelecionado: '',
        funcionarioSelecionadoCopia: '',
        tipoProcessoSelecionado: '',
        tipoProcessoSelecionadoCopia: '',
        analiserisco: ''
      }
    },
    computed: {
      funcionarios () {
        return this.$store.state.funcionarios
      },
      tiposProcesso () {
        return this.$store.state.tiposprocesso
      }
    },
    mounted () {
      this.getFuncionarios()
      this.getTiposProcesso()
    },
    methods: {
      enviar () {
        this.dataCriacaoCopia = this.dataCriacao
        this.horaCriacaoCopia = this.horaCriacao
        this.descricaoAtividadeCopia = this.descricaoAtividade
        this.observacaoCopia = this.observacao
        this.enderecoCopia = this.endereco
        this.cepCopia = this.cep
        this.posicaoGeograficaCopia = this.posicaoGeografica
        this.estadoCopia = this.estado
        this.cidadeCopia = this.cidade
        this.funcionarioSelecionadoCopia = this.funcionarioSelecionado
        this.tipoProcessoSelecionadoCopia = this.tipoProcessoSelecionado
        this.$http.post('http://endicon.esy.es/dados/locais/novo_local', {
          'Endereco': this.endereco,
          'CEP': this.cep,
          'PosicaoGeografica': this.posicaoGeografica,
          'Estado': this.estado,
          'Cidade': this.cidade
        }).then((response) => {
          console.log('sucess ', response.body)
          response.json().then((dataLocal) => {
            this.$http.post('http://endicon.esy.es/formularios/analisesrisco/nova_analiserisco', {
              'DataCriacao': this.dataCriacao,
              'HoraCriacao': this.horaCriacao,
              'DescricaoAtividade': this.descricaoAtividade,
              'Observacao': this.observacao,
              'TB_Local_idTB_Local': dataLocal.id,
              'TB_Funcionario_idTB_Funcionario': this.funcionarioSelecionado.id,
              'TB_TipoProcesso_idTB_TipoProcesso': this.tipoProcessoSelecionado.id
            }).then((response) => {
              console.log('sucess ', response.body)
              response.json().then((dataAnalise) => {
                this.$store.commit('ADD_ANALISERISCO', {
                  'id': dataAnalise.id,
                  'dataCriacao': this.dataCriacaoCopia,
                  'horaCriacao': this.horaCriacaoCopia,
                  'descricaoAtividade': this.descricaoAtividade,
                  'observacao': this.observacao,
                  'local': {
                    'id': dataLocal.id,
                    'endereco': this.enderecoCopia,
                    'cep': this.cepCopia,
                    'posicaoGeografica': this.posicaoGeograficaCopia,
                    'estado': this.estadoCopia,
                    'cidade': this.cidadeCopia
                  },
                  'funcionario': this.funcionarioSelecionadoCopia,
                  'tipoProcesso': this.tipoProcessoSelecionadoCopia
                })
                this.analiserisco = this.$store.state.analisesrisco.length - 1
              })
              this.dataCriacao = ''
              this.horaCriacao = ''
              this.descricaoAtividade = ''
              this.observacao = ''
              this.endereco = ''
              this.cep = ''
              this.posicaoGeografica = ''
              this.estado = ''
              this.cidade = ''
              this.funcionarioSelecionado = ''
              this.tipoProcessoSelecionado = ''
            }, (response) => {
              console.log('erro: ', response)
            })
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      getFuncionarios () {
        this.$http.get('http://endicon.esy.es/dados/funcionarios').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_FUNCIONARIOS', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      },
      getTiposProcesso () {
        this.$http.get('http://endicon.esy.es/dados/tiposprocesso').then((response) => {
          console.log('sucess')
          response.json().then((data) => {
            this.$store.commit('ATUALIZAR_TIPOSPROCESSO', data)
          })
        }, (response) => {
          console.log('erro: ', response)
        })
      }
    }
  }
</script>
<style></style>